{"openapi":"3.0.3","info":{"title":"SAP Emarsys SMS Partner Service","description":"The SMS Partner API is designed to allow SMS vendors/aggregators integrate with Emarsys, not for the use of Emarsys customers themselves. \nOnce the SMS vendor has integrated with Emarsys, they will be available as an SMS provider option for all Emarsys customers.\nIf you are an Emarsys customer, please confirm with your SMS vendor of choice that they have the developer resources available to integrate with Emarsys and are willing to do so.\nIf this is the case, please reach out to your Client Success Manager to request your SMS vendor is added to the pilot.\nAn SAP Emarsys SMS Partner Service allows partners to host SMS message sends that are triggered\nby an SAP Emarsys SMS campaign launch. This OpenAPI specification describes the required Partner service endpoints.","version":"0.0.1","contact":{"name":"SAP Emarsys SMS Team","email":"team-sms@emarsys.com"}},"x-sap-shortText":"Configure and test client setup and sends SMS messages.","servers":[{"url":"https://api.sms-partner.io/sms/partner/v1"}],"externalDocs":{"description":"For more information, please visit our official SAP Emarsys developer portal.","url":"https://dev.emarsys.com/docs/sms-partner-api"},"paths":{"/clients/{clientId}/configuration":{"summary":"Manage a client configuration within a Partner service","parameters":[{"$ref":"#/components/parameters/clientIdPathParam"}],"put":{"tags":["Client Configuration"],"operationId":"createOrUpdateClientConfiguration","summary":"Create or update client configuration","description":"Create or update a single client's configuration setup.","requestBody":{"description":"Client's custom field values as a map.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateClientConfigurationRequest"}}}},"responses":{"200":{"description":"Client configuration was successfully recorded within the Partner service.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateClientConfigurationResponse"}}}},"400":{"$ref":"#/components/responses/InvalidClientConfigurationFormatResponse"},"401":{"$ref":"#/components/responses/AuthenticationFailedResponse"},"403":{"$ref":"#/components/responses/AuthorizationFailedResponse"},"500":{"$ref":"#/components/responses/ServerErrorResponse"}}},"get":{"tags":["Client Configuration"],"operationId":"getClientConfiguration","summary":"Get client configuration","description":"Get a client's configuration setup by their ID.","responses":{"200":{"description":"Client exists within the Partner service and their configuration is returned in the response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetClientConfigurationResponse"}}}},"401":{"$ref":"#/components/responses/AuthenticationFailedResponse"},"403":{"$ref":"#/components/responses/AuthorizationFailedResponse"},"404":{"description":"Client does not have a configuration recorded within the Partner service."},"500":{"description":"Server error occurred","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unable to connect to the Partner service.","description":"Description of the error."}},"required":["message"]}}}}}},"delete":{"tags":["Client Configuration"],"operationId":"deleteClientConfiguration","summary":"Delete client configuration","description":"Delete a client's configuration setup by their ID.","responses":{"204":{"description":"Client Configuration was deleted successfully at the Partner Service."},"401":{"$ref":"#/components/responses/AuthenticationFailedResponse"},"403":{"$ref":"#/components/responses/AuthorizationFailedResponse"},"404":{"description":"Client does not have a configuration recorded within the Partner service."},"500":{"description":"Server error occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/testConnection":{"post":{"tags":["Client Configuration Test"],"operationId":"testConnection","summary":"Test connection","description":"Test connection with the provided custom fields with the provider.","requestBody":{"description":"Provider-specific custom fields.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestConnectionRequest"}}}},"responses":{"200":{"description":"The request is successfully processed.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/TestConnectionSuccessResponse"},{"$ref":"#/components/schemas/TestConnectionFailureResponse"}],"discriminator":{"propertyName":"state","mapping":{"success":"#/components/schemas/TestConnectionSuccessResponse","error":"#/components/schemas/TestConnectionFailureResponse"}}},"examples":{"ok":{"summary":"Test connection was success.","value":{"state":"success"}},"ko":{"summary":"Test connection failed.","value":{"state":"error","description":"There was an error","errorType":"temporary"}}}}}},"400":{"$ref":"#/components/responses/InvalidClientConfigurationFormatResponse"},"401":{"description":"Authentication failed - Invalid or missing OAuth token."},"403":{"description":"Authorization failed - OAuth client ID does not have access to this resource."},"500":{"$ref":"#/components/responses/ServerErrorResponse"}}}},"/clients/{clientId}/messages":{"parameters":[{"name":"clientId","in":"path","required":true,"description":"Ths is the ID used to reference the client user's integration with the Partner service. It is generated when the client user completes the onboarding.","example":"39a281c7-942f-49a9-91c2-8f0dba750f7f","schema":{"type":"string","format":"uuid"}}],"post":{"tags":["Outbound Message Sending"],"operationId":"sendMessages","summary":"Send messages","description":"Send SMS messages to the Partner API.","requestBody":{"description":"Messages to be sent.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutboundMessageBatch"}}}},"responses":{"202":{"description":"Request was accepted."},"400":{"description":"Returns error type and error context globally, for all messages, or per message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutboundMessageBatchError"}}}},"401":{"$ref":"#/components/responses/AuthenticationFailedResponse"},"403":{"$ref":"#/components/responses/AuthorizationFailedResponse"},"404":{"description":"Client does not exist."},"429":{"description":"Too many requests."},"500":{"$ref":"#/components/responses/ServerErrorResponse"}}}}},"components":{"schemas":{"CustomFieldValues":{"type":"object","description":"Object containing the values the client entered during onboarding mapped by their custom field name as key.","minProperties":1,"example":{"apiKey":"abc123","servicePlanId":"123abc","baseUrl":"https://api.sms.provider.io"}},"CallbackUrl":{"type":"object","properties":{"url":{"type":"string","format":"uri","description":"A callback URL, provided by the Partner.'","example":"https://api.partner.io/callback-path/unique-id"}},"required":["url"]},"ClientCallbackUrls":{"type":"object","properties":{"inboundMessages":{"allOf":[{"$ref":"#/components/schemas/CallbackUrl"},{"description":"The inbound message callback URL, provided by the Partner."}]},"deliveryReports":{"allOf":[{"$ref":"#/components/schemas/CallbackUrl"},{"description":"The delivery report callback URL, provided by the Partner."}]}}},"GetClientConfigurationResponse":{"type":"object","properties":{"customFieldValues":{"$ref":"#/components/schemas/CustomFieldValues"},"callbackUrls":{"$ref":"#/components/schemas/ClientCallbackUrls"}},"required":["customFieldValues","callbackUrls"]},"CreateOrUpdateClientConfigurationResponse":{"type":"object","properties":{"callbackUrls":{"$ref":"#/components/schemas/ClientCallbackUrls"}},"required":["callbackUrls"]},"CreateOrUpdateClientConfigurationRequest":{"type":"object","properties":{"customFieldValues":{"$ref":"#/components/schemas/CustomFieldValues"}},"required":["customFieldValues"]},"TestConnectionRequest":{"type":"object","properties":{"customFieldValues":{"$ref":"#/components/schemas/CustomFieldValues"}},"required":["customFieldValues"]},"TestConnectionSuccessResponse":{"type":"object","properties":{"state":{"type":"string","enum":["success"],"example":"success","description":"Connection test was successful when state is \"success\"."}},"required":["state"]},"TestConnectionFailureResponse":{"type":"object","properties":{"state":{"type":"string","enum":["error"],"example":"error","description":"Connection test was unsuccessful when state is \"error\"."},"description":{"type":"string","example":"There was an error","description":"Description of the error."},"errorType":{"type":"string","enum":["temporary","credential","integration"],"example":"temporary","description":"| Value | Description |\n|---|---|\n| temporary | There was a temporary issue whilst performing the request so try again later. |\n| credential | There was a problem authorizing the client on the vendor platform. |\n| integration | There is an issue related to the integration between Emarsys and the Partner service. |\n"}},"discriminator":{"propertyName":"state"},"required":["state","description","errorType"]},"InvalidFieldError":{"type":"object","properties":{"fieldName":{"type":"string","example":"servicePlanId","description":"Key to uniquely identify the field."},"description":{"type":"string","example":"servicePlanId can only contain numbers.","description":"Description of the error."},"errorType":{"type":"string","enum":["missing","invalid"],"example":"invalid","description":"Type of the error."}},"required":["fieldName","description","errorType"]},"InvalidFieldErrors":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/InvalidFieldError"},"minItems":1}}},"OutboundMessage":{"allOf":[{"type":"object","properties":{"source":{"type":"string","example":"436771234567","description":"Source (Sender ID) of the message."},"destination":{"type":"string","example":"381641234567","description":"Destination of the message."},"message":{"type":"string","example":"Hello world!","description":"Message content (body)."}},"required":["source","destination","message"]},{"type":"object","properties":{"emarsysMessageId":{"type":"string","example":"WI0ksjocu3b8W8kQU26M","description":"Unique identifier for an individual message send. This is used to map outbound message to the delivery report."}},"required":["emarsysMessageId"]}]},"OutboundMessageBatch":{"type":"object","properties":{"messages":{"type":"array","items":{"$ref":"#/components/schemas/OutboundMessage"},"minItems":1,"maxItems":1000}},"required":["messages"]},"OutboundMessageError":{"type":"object","properties":{"errorType":{"type":"string","enum":["emarsys","client","partner","provider","unknown"],"example":"partner","description":"| Value | Description |\n|---|---|\n| emarsys | There was a a problem with the message send payload. |\n| client | There was a problem with the client setup. |\n| partner | There was a problem at the partner. |\n| provider | There was a problem at the provider. |\n| unknown | There was an unknown problem. |\n"},"errorContext":{"type":"object","description":"Insert useful information for the client."},"isErrorTransient":{"type":"boolean","example":false}},"required":["errorType","isErrorTransient"]},"OutboundMessageBatchGlobalError":{"type":"object","properties":{"globalError":{"allOf":[{"$ref":"#/components/schemas/OutboundMessageError"},{"type":"object"}]}}},"OutboundMessageBatchMessageSpecificError":{"type":"object","properties":{"messageSpecificErrors":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/OutboundMessageError"},{"$ref":"#/components/schemas/OutboundMessage/allOf/1"}]}}}},"OutboundMessageBatchError":{"oneOf":[{"$ref":"#/components/schemas/OutboundMessageBatchGlobalError"},{"$ref":"#/components/schemas/OutboundMessageBatchMessageSpecificError"}]},"ReceivedAt":{"type":"object","properties":{"receivedAt":{"type":"string","format":"date-time","example":"2017-07-21T17:32:28Z"}},"required":["receivedAt"]},"EmarsysMessageId":{"type":"object","properties":{"emarsysMessageId":{"type":"string","example":"WI0ksjocu3b8W8kQU26M","description":"Unique identifier for an individual message send. This is used to map outbound message to the delivery report."}},"required":["emarsysMessageId"]},"Error":{"type":"object","properties":{"message":{"type":"string","example":"Unable to connect to the Partner service.","description":"Description of the error."}},"required":["message"]},"InvalidFormatError":{"allOf":[{"$ref":"#/components/schemas/Error"},{"type":"object","properties":{"keyword":{"type":"string","example":"Required"},"dataPath":{"type":"string","example":".someArray[0]"},"params":{"type":"object","example":{"missingProperty":"messageId"}},"message":{"type":"string","example":"Should have required property 'messageId'"}}}]},"InvalidFormatErrorBatch":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/InvalidFormatError"},"minItems":1}}},"Message":{"type":"object","properties":{"source":{"type":"string","example":"436771234567","description":"Source (Sender ID) of the message."},"destination":{"type":"string","example":"381641234567","description":"Destination of the message."},"message":{"type":"string","example":"Hello world!","description":"Message content (body)."}},"required":["source","destination","message"]},"IdentifiableMessage":{"allOf":[{"$ref":"#/components/schemas/Message"},{"type":"object","properties":{"messageId":{"type":"string","example":"WI0ksjocu3b8W8kQU26M","description":"Unique message identifier."}},"required":["messageId"]}]}},"parameters":{"clientIdPathParam":{"name":"clientId","in":"path","required":true,"description":"Ths is the ID used to reference the client user's integration with the Partner service. It is generated when the client user completes the onboarding.","example":"39a281c7-942f-49a9-91c2-8f0dba750f7f","schema":{"type":"string","format":"uuid"}}},"responses":{"InvalidClientConfigurationFormatResponse":{"description":"Request body is invalid and does not follow API specification.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/InvalidFieldErrors"}]}}}},"AcceptedResponse":{"description":"Request was accepted."},"InvalidFormatResponse":{"description":"Request body is invalid and does not follow API specification.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidFormatErrorBatch"}}}},"AuthenticationFailedResponse":{"description":"Authentication failed - Invalid or missing OAuth token."},"AuthorizationFailedResponse":{"description":"Authorization failed - OAuth client ID does not have access to this resource."},"ClientDoesNotExistResponse":{"description":"Client does not exist."},"TooManyRequestsResponse":{"description":"Too many requests."},"ServerErrorResponse":{"description":"Server error occurred.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"securitySchemes":{"oAuthAuthorization":{"type":"oauth2","description":"OAuth client credentials grant type authorization.","flows":{"clientCredentials":{"tokenUrl":"https://smsemarsys.accounts.ondemand.com/oauth2/token","scopes":{}}}}}},"security":[{"oAuthAuthorization":[]}]}