{"openapi":"3.0.3","info":{"version":"0.0.1","title":"SAP Emarsys SMS Partner Callbacks","description":"The SMS Partner API is designed to allow SMS vendors/aggregators integrate with Emarsys, not for the use of Emarsys customers themselves. \nOnce the SMS vendor has integrated with Emarsys, they will be available as an SMS provider option for all Emarsys customers.\nIf you are an Emarsys customer, please confirm with your SMS vendor of choice that they have the developer resources available to integrate with Emarsys and are willing to do so.\nIf this is the case, please reach out to your Client Success Manager to request your SMS vendor is added to the pilot.\nThe SAP Emarsys SMS Partner Callbacks API allows Partners to provide delivery reports and inbound messages.\nThis OpenAPI specification describes the possible callback endpoints.","contact":{"name":"SAP Emarsys SMS Team","email":"team-sms@emarsys.com"}},"x-sap-shortText":"Process Partner service callbacks for the Emarsys SMS Partner API. Expected callbacks contain outbound message delivery reports and inbound messages.","servers":[{"url":"https://api.emarsys.net/sms/partner/v1"}],"externalDocs":{"description":"For more information, please visit our official SAP Emarsys developer portal.","url":"https://dev.emarsys.com/docs/sms-partner-api"},"paths":{"/clients/{clientId}/deliveryReports":{"post":{"summary":"Delivery reports callback","description":"Manage clients' delivery reports.","operationId":"sendDeliveryReports","tags":["Delivery Reports"],"security":[{"oAuthAuthorization":[]}],"parameters":[{"$ref":"#/components/parameters/clientIdPathParam"}],"requestBody":{"description":"The body of the delivery reports in JSON format.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryReportBatch"}}}},"responses":{"202":{"$ref":"#/components/responses/AcceptedResponse"},"400":{"$ref":"#/components/responses/InvalidFormatResponse"},"401":{"$ref":"#/components/responses/AuthenticationFailedResponse"},"403":{"$ref":"#/components/responses/AuthorizationFailedResponse"},"404":{"$ref":"#/components/responses/ClientDoesNotExistResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/ServerErrorResponse"}}}},"/clients/{clientId}/inboundMessages":{"post":{"summary":"Inbound messages callback","description":"Manage clients' inbound messages.","operationId":"sendInboundMessages","tags":["Inbound Messages"],"security":[{"oAuthAuthorization":[]}],"parameters":[{"$ref":"#/components/parameters/clientIdPathParam"}],"requestBody":{"description":"The body of the inbound messages in JSON format.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InboundMessageBatch"}}}},"responses":{"202":{"$ref":"#/components/responses/AcceptedResponse"},"400":{"$ref":"#/components/responses/InvalidFormatResponse"},"401":{"$ref":"#/components/responses/AuthenticationFailedResponse"},"403":{"$ref":"#/components/responses/AuthorizationFailedResponse"},"404":{"$ref":"#/components/responses/ClientDoesNotExistResponse"},"429":{"$ref":"#/components/responses/TooManyRequestsResponse"},"500":{"$ref":"#/components/responses/ServerErrorResponse"}}}}},"components":{"schemas":{"DeliveryReport":{"allOf":[{"$ref":"#/components/schemas/ReceivedAt"},{"$ref":"#/components/schemas/EmarsysMessageId"},{"type":"object","properties":{"status":{"type":"string","enum":["ACCEPTED","DELIVERED","SOFTBOUNCE","HARDBOUNCE","UNKNOWN","ERROR"],"example":"DELIVERED"},"details":{"description":"This property can be used to provide extra details about the status of the delivery.","type":"object","example":{"providerStatus":"HARDBOUNCE","providerCode":5001}},"providerMessageIds":{"type":"array","items":{"type":"string","example":"yqqKUsSSvr","description":"Original provider (vendor) message ID, used for troubleshooting directly with the vendor."},"minItems":1,"description":"Original message IDs from the provider (vendor) can be used to aid troubleshooting with the provider."}}}]},"DeliveryReportSuccess":{"allOf":[{"$ref":"#/components/schemas/DeliveryReport"},{"type":"object","properties":{"status":{"type":"string","enum":["ACCEPTED","DELIVERED","SOFTBOUNCE","HARDBOUNCE","UNKNOWN"],"example":"DELIVERED"}},"required":["status"]}]},"DeliveryReportError":{"allOf":[{"$ref":"#/components/schemas/DeliveryReport"},{"type":"object","properties":{"status":{"type":"string","enum":["ERROR"],"example":"ERROR"},"errorType":{"type":"string","enum":["AUTHENTICATION","INVALID_SENDER_ID","INSUFFICIENT_CREDIT","UNKNOWN"],"example":"AUTHENTICATION","description":"Type of the error. Used to determine how the user is notified."}},"required":["status","errorType"]}]},"DeliveryReportBatch":{"type":"object","properties":{"deliveryReports":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/DeliveryReportSuccess"},{"$ref":"#/components/schemas/DeliveryReportError"}]},"minItems":1,"maxItems":1000}},"required":["deliveryReports"]},"InboundMessage":{"allOf":[{"$ref":"#/components/schemas/IdentifiableMessage"},{"$ref":"#/components/schemas/ReceivedAt"}]},"InboundMessageBatch":{"type":"object","properties":{"inboundMessages":{"type":"array","items":{"$ref":"#/components/schemas/InboundMessage"},"minItems":1,"maxItems":1000}},"required":["inboundMessages"]},"ReceivedAt":{"type":"object","properties":{"receivedAt":{"type":"string","format":"date-time","example":"2017-07-21T17:32:28Z"}},"required":["receivedAt"]},"EmarsysMessageId":{"type":"object","properties":{"emarsysMessageId":{"type":"string","example":"WI0ksjocu3b8W8kQU26M","description":"Unique identifier for an individual message send. This is used to map outbound message to the delivery report."}},"required":["emarsysMessageId"]},"Error":{"type":"object","properties":{"message":{"type":"string","example":"Unable to connect to the Partner service.","description":"Description of the error."}},"required":["message"]},"InvalidFormatError":{"allOf":[{"$ref":"#/components/schemas/Error"},{"type":"object","properties":{"keyword":{"type":"string","example":"Required"},"dataPath":{"type":"string","example":".someArray[0]"},"params":{"type":"object","example":{"missingProperty":"messageId"}},"message":{"type":"string","example":"Should have required property 'messageId'"}}}]},"InvalidFormatErrorBatch":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/InvalidFormatError"},"minItems":1}}},"Message":{"type":"object","properties":{"source":{"type":"string","example":"436771234567","description":"Source (Sender ID) of the message."},"destination":{"type":"string","example":"381641234567","description":"Destination of the message."},"message":{"type":"string","example":"Hello world!","description":"Message content (body)."}},"required":["source","destination","message"]},"IdentifiableMessage":{"allOf":[{"$ref":"#/components/schemas/Message"},{"type":"object","properties":{"messageId":{"type":"string","example":"WI0ksjocu3b8W8kQU26M","description":"Unique message identifier."}},"required":["messageId"]}]}},"parameters":{"clientIdPathParam":{"name":"clientId","in":"path","required":true,"description":"Ths is the ID used to reference the client user's integration with the Partner service. It is generated when the client user completes the onboarding.","example":"39a281c7-942f-49a9-91c2-8f0dba750f7f","schema":{"type":"string","format":"uuid"}}},"responses":{"AcceptedResponse":{"description":"Request was accepted."},"InvalidFormatResponse":{"description":"Request body is invalid and does not follow API specification.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidFormatErrorBatch"}}}},"AuthenticationFailedResponse":{"description":"Authentication failed - Invalid or missing OAuth token."},"AuthorizationFailedResponse":{"description":"Authorization failed - OAuth client ID does not have access to this resource."},"ClientDoesNotExistResponse":{"description":"Client does not exist."},"TooManyRequestsResponse":{"description":"Too many requests."},"ServerErrorResponse":{"description":"Server error occurred.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"securitySchemes":{"oAuthAuthorization":{"type":"oauth2","description":"OAuth client credentials grant type authorization.","flows":{"clientCredentials":{"tokenUrl":"https://smsemarsys.accounts.ondemand.com/oauth2/token","scopes":{}}}}}},"security":[{"oAuthAuthorization":[]}]}